.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-block: 25px;
}
.pagination button {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}
.orders {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.order {
  padding: 10px 20px;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.4);
  display: flex;
  gap: 25px;
  max-width: 50%;
  justify-content: space-between;
}

.order-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order-right p {
  color: rgb(138, 134, 134);
}
.order-right b {
  color: black;
}

.order-img {
  object-fit: cover;
  min-width: 200px;
  height: 200px;
}
.order-img--canceled {
  object-fit: cover;
  min-width: 200px;
  height: 200px;
  opacity: 0.3;
}

.order-btn {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  outline: none;
  transition: background-color 0.3s;
  text-align: center;
  font-size: large;
  cursor: pointer;
  margin-top: auto;
}

.cancel-order {
  background-color: orange;
}
.cancel-order:hover {
  background-color: rgb(162, 107, 4);
}
.canceled-order {
  color: black;
  cursor: no-drop;
  background-color: rgb(116, 115, 113);
}
