* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: large;
  font-style: normal;
}

body {
  height: 100vh;
  background: white;
}

@media (max-width: 800px) {
  .hidden-on-small-screen {
    display: none;
  }
}

.hoverable {
  cursor: pointer;
  transition: all 0.5s;
}

.hoverable:hover {
  transform: scale(1.2);
}

.stylish-text-field {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  font-size: large;
}

.stylish-text-field::selection {
  background: transparent;
}

.stylish-text-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.stylish-text-field::placeholder {
  color: #999;
}

.centered-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-background {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  height: 250px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  h2 {
    font-size: x-large;
  }
}

.modal-body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modal-footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
